@import url("photographer.css");

/* Les variables */
:root {
	--text-color-primary: #d3573c;
	--text-color-secondary: #901c1c;
	--button-bg-color-primary: #901c1c;
	--button-bg-color-secondary: #d3573c;
	--button-text-color-primary: #fafafa;
	--button-text-color-secondary: #525252;
	--gray-color: #757575;
}

body {
	font-family: "DM Sans", sans-serif;
	margin: 0;
}

/* Le Header de la page */
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 90px;
}

h1 {
	color: #901c1c;
	margin-right: 100px;
}

.logo {
	height: 50px;
	margin-left: 100px;
}

/* La section des photographes */
.photographer_section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 70px;
	margin-top: 100px;
}

.photographer_section article {
	justify-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* Le link vers la page des photographes avec l'image et le nom */
.photographer_section .link-index {
	cursor: pointer;
	text-decoration: none;
	height: 260px;
	width: 320px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	justify-self: center;
}

.link-index:hover,
.link-index:focus {
	border: 3px solid black;
}

/* L'image du profile*/
.profile__image-container {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	overflow: hidden;
}

.profile__picture {
	display: block;
	width: 100%;
	height: 100%;
}

/* Styliser image une par une */
.profile__picture.id-243 {
	transform: scale(1.8);
	object-fit: cover;
	object-position: 0 -26px;
}

.profile__picture.id-930 {
	transform: scale(1.8);
	object-fit: cover;
	object-position: -54px 20px;
}

.profile__picture.id-82 {
	transform: scale(1.2);
	object-fit: cover;
	object-position: 14px 0;
}
.profile__picture.id-527 {
	transform: scale(1.2);
	object-fit: cover;
	object-position: 0 -26px;
}
.profile__picture.id-925,
.profile__picture.id-195 {
	transform: scale(1.8);
	object-fit: cover;
	object-position: -50px 20px;
}

/* Le nom du profile*/
.profile__image-name {
	color: var(--text-color-primary);
	font-size: 36px;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 12px 0 4px;
}

/* La description du profile*/
.profile__description {
	justify-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	line-height: 1.5;
	margin-top: 0;
}

/* La ville et le pays */
.profile__description .city-country {
	color: var(--button-bg-color-primary);
	font-size: 1.1em;
}

/* Le texte */
.profile__description .tagline {
	font-size: 0.9em;
}

/* Le pris par jour */
.profile__description .price {
	color: var(--gray-color);
	font-size: 0.9em;
}
